* {
  font-family: 'DM Sans', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

ul.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  box-shadow: 0 0 20px black;
  background-color: #EEEEEE;
  cursor: pointer;
}

.nav li {
  padding: 10px;
  font-size: 22px;
  user-select: none;
}

.nav li:first-child {
  font-weight: bold;
  flex-grow: 1;
}

.nav li:last-child {
  background-color: #FBAE3C;
  border-radius: 5px;
  margin-left: 10px;
}

#particles-js {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FBAE3C;
  z-index: -1;
}

.front {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.front h1 {
  font-size: 70px;
  margin: 0;
}


.cards {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 10% 0 10%;
}

.card {
  width: calc((100% - 100px) / 3);
  margin: 20px;
  background-color: #EEEEEE;
  border-radius: 10px;
  box-shadow: 0 0 10px #EEEEEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: 0.1s;
  padding-bottom: 50px;
}

.card h4 {
  opacity: 0.7;
  font-size: 25px;
  margin: 0;
  padding-bottom: 10px;
}

.card h2 {
  font-size: 50px;
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: white
}

.card h3 {
  font-size: 30px;
  padding-top: 20px;
  margin: 0;
}

.card span {
  font-size: 60px;
  padding-bottom: 20px;
}

.card:hover {
  transform: scale(1.02);
}

.card .fill {
  flex-grow: 1;
}

.cards a {
  color: white;
  width: 90%;
  background-color: #FBAE3C;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
}

h2.heading {
  font-size: 40px;
  width: 100%;
  text-align: center;
}

.card_small {
  width: calc(20% - 40px);
  background-color: #EEEEEE;
  border-radius: 10px;
  box-shadow: 0 0 10px #EEEEEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  transition: 0.1s;
  padding-bottom: 20px;
  margin: 20px;
}

.card_small h2 {
  margin: 0;
  font-size: 30px;
}


.contact {
  width: 100%;
  padding: 100px 0 100px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #FBAE3C;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.contact h2 {
  font-size: 50px;
}

.contact span {
  font-size: 60px;
  cursor: pointer;
  margin: 20px;
}

/* @media only screen and (max-width: 450px) {
  .nav li:first-child {
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
  }
} */

@media only screen and (max-width: 900px) {
  .cards {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .card {
    width: calc(100% - 40px);
    transform: translateY(0) !important;
  }
  .card_small {
    width: calc(100% - 40px);
  }
}
